<h1><a href="<%= post_url(@post)%>"><%= @post.title %></a> by <%= @author.username %></h1>
<p>Content:</p>
<p><%= @post.content %></p>

<% if current_user.id == @post.author_id %>
    <a href="<%= edit_post_url(@post) %>">Edit Post</a>
<% end %>

<h3>Subs</h3>
<ul>
<% @post.subs.each do |sub| %>
    <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
<% end %>
</ul>

<h2>Comments</h2>
<a href="<%= new_post_comment_url(@post) %>">Comment on this post</a>
<% @all_comments.each do |parent_comment| %>
    <% if parent_comment.parent_comment_id.nil? %>
    <ul><%= render 'comments/comment', comment: parent_comment %></ul>
    <% end %>
<% end %>

