<%= @comment.content %>


<h3>Reply to this comment</h3>
<form action="<%= comments_url %>" method="POST">
    <%= auth_token %>

    <label>
        <textarea name="comment[content]" cols="30" rows="10"></textarea>
    </label>

    <input type="hidden" name="comment[post_id]" value="<%= @comment.post_id %>" />
    <input type="hidden" name="comment[parent_comment_id]" value="<%= @comment.id %>" />

    <input type="submit" value="Submit Reply">

</form>




